<style>
    .row{
        min-height: 10px;
    }
</style>
<footer class="text-center text-lg-start bg-dark text-white">
    <section class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between p-4">
        <div class="me-5 mb-4 mb-lg-0">
            <span>GET CONNECTED WITH US:</span>
        </div>
        <div>
            <a href="#" class="me-3 text-reset"><i class="fa fa-facebook"></i></a>
            <a href="#" class="me-3 text-reset"><i class="fa fa-instagram"></i></a>
            <a href="#" class="me-3 text-reset"><i class="fa fa-google"></i></a>
        </div>
    </section>

    <section class="bg-dark text-white">
        <div class="container text-center text-md-start mt-4">
            <div class="row">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">R.K.T ENTERPRISES</h6>
                    <p>
                        R.K.T ENTERPRISES is a limestone powder manufacturing company where
                        you can buy the best quality limestone powder at a low price.
                    </p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Products</h6>
                    <p><a href="#" class="text-reset">Menu</a></p>
                    <p><a href="#" class="text-reset">Menu</a></p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i>R.K.T ENTERPRISES</i></p>
                    <p><i class="fa fa-envelope"> suryamariappan180@gmail.com</i></p>
                    <p><i class="fa fa-phone"> +91 9965551981</i></p>
                    <p><i class="fa fa-phone"> +91 8870783579</i></p>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center p-3">
        &copy; 2023 Copyright <a class="text-reset fw-bold" href="#">R.K.T ENTERPRISES</a>
    </div>
</footer>
